main {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
}

.konten {
    width: fit-content;
    height: 200px;
    padding-inline: 2rem;
    padding-block: 4rem;
    border: 1px solid black;
    border-radius: 20px;
}

header {
    margin-bottom: 12px;
}

input {
    margin-bottom: 12px;
}